{% extends 'base.html' %}

{% block content %}

  {% macro validate_field(field) %}
    {% if field.errors %}
      <div class=errors>
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endmacro %}

  <h1> Create a new club</h1>

  <form method="POST" action="#">
      {{ form.csrf_token }}
          {{ form.name.label }}
          {{ form.name }}
          {{ validate_field(form.name) }}<br><br>

          {{ form.description.label }} <br>
          {{ form.description(rows=10, cols=50) }}
          {{ validate_field(form.description) }}<br><br>

          {{ form.submit() }}

  </form>
{% endblock %}
